@font-face {
  font-family: 'Euclid Circular B';
  src: local('../fonts/Euclid Circular B Medium'), local('Euclid-Circular-B-Medium'),
  url('../fonts/EuclidCircularB-Medium.woff2') format('woff2'),
  url('../fonts/EuclidCircularB-Medium.woff') format('woff'),
  url('../fonts/EuclidCircularB-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}